.font-custom{
    font-family: Helvetica;
    font-size: 14px;
    color: #4F4F4F;
    white-space: pre-wrap;
    margin-left: 64px;
    margin-top: 32px;
}
.positiopn-custom{
    position: relative;
    widows: 380px;
    height: 64px;
}