
<div class="form-inline">
    <label class="font-custom">160-161 Chaloem Phra Kiat Ratchakan Thi 9 Road
            Talad Subdistrict, Muang District, Maha Sarakham 44000
            Thailand</label>    
</div>>
<img src="/assets/map.png" width="500" height="200" class="d-inline-block align-top" alt="" style="margin: 32px 64px;">
