<footer class="footer text-muted text-small footer-custom" style="background-color: #585858;height: 80px;">
    <div class="row">
      <div class="col-lg-12 text-center">
        <p class="" style="font-family: Helvetica;
        font-size: 14px;
        color: #FFFFFF;
        text-align: left;margin-left: 24px;margin-top: 32px;">Coppyright © 2019 Terminal 8 Co., Ltd.</p>
      </div>
    </div>
  </footer>