<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #585858;">    
    <img src="/assets/logo.png" width="60" height="54" class="d-inline-block align-top" alt="" style="margin: 13px 24px;">
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 800px;">
      <form class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active form-inline my-2 my-lg-0">
                <a class="nav-link font" href="/home" style="color: #FFFF;">Home <span class="sr-only">(current) </span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link font" href="/aboutus" style="color: #FFFF;">About us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link font" href="/contact" style="color: #FFFF;">Contact us</a>
              </li>
          </ul>
      </form>
    </div>
  </nav>
    