<div class="form-group"  style="margin: 32px 64px 32px 64px;">
    <div class="row form-inline">
        <img src="{{ content.content_image }}" width="250" height="250" class="d-inline-block align-top" alt="" style="margin: 32px 64px;">
        <div class="form-horizontal">                
            <label class="row" style="margin-bottom: 16px;white-space: pre-wrap;font-family: Helvetica;font-size: 36px;color: #4F4F4F;width: 630px;height: 83px;">{{ content.content_title }} 0 Fix
            </label>
            <label class="row" style="white-space: pre-wrap;font-family: Helvetica;font-size: 14px;color: #4F4F4F;;width: 630px;height: 148px;">{{ content.content_detail }} 0 Fix
            </label>                    
        </div>
    </div>
    <div class="row form-inline">            
        <div class="form-horizontal">       
            <label class="row" style="margin-bottom: 16px;white-space: pre-wrap;font-family: Helvetica;font-size: 36px;color: #4F4F4F;width: 630px;height: 83px;">{{ content.content_title }} 1 Fix
            </label>
            <label class="row" style="white-space: pre-wrap;font-family: Helvetica;font-size: 14px;color: #4F4F4F;;width: 630px;height: 148px;">{{ content.content_detail }} 1 Fix
            </label>                    
        </div>        
        <img src="{{ content.content_image }}" width="250" height="250" class="d-inline-block align-top" alt="" style="margin: 32px 64px;">
    </div>  
    <!-- <div class="row form-inline">
        <img src="{{ content_model[0].content_image }}" width="250" height="250" class="d-inline-block align-top" alt="" style="margin: 32px 64px;">
        <div class="form-horizontal">                
            <label class="row" style="margin-bottom: 16px;white-space: pre-wrap;font-family: Helvetica;font-size: 36px;color: #4F4F4F;width: 630px;height: 83px;">{{ content_model[0].content_title }}
            </label>
            <label class="row" style="white-space: pre-wrap;font-family: Helvetica;font-size: 14px;color: #4F4F4F;;width: 630px;height: 148px;">{{ content_model[0].content_detail }}
            </label>                    
        </div>
    </div>    -->
    <!-- <div class="row form-inline">            
        <div class="form-horizontal">       
            <label class="row" style="margin-bottom: 16px;white-space: pre-wrap;font-family: Helvetica;font-size: 36px;color: #4F4F4F;width: 630px;height: 83px;">{{ content_model[1].content_title }}
            </label>
            <label class="row" style="white-space: pre-wrap;font-family: Helvetica;font-size: 14px;color: #4F4F4F;;width: 630px;height: 148px;">{{ content_model[1].content_detail}}
            </label>                    
        </div>        
        <img src="{{ content_model[1].content_image }}" width="250" height="250" class="d-inline-block align-top" alt="" style="margin: 32px 64px;">
    </div>     -->
    
</div>
